* {
  background-color: rgb(182, 237, 183);
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  border: 1px solid green;
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: green;
}

.selected {
  color: violet;
}
